[submodule "org.liveSense.parent"]
	path = org.liveSense.parent
	url = https://github.com/liveSense/org.liveSense.parent.git
[submodule "org.liveSense.auth.ldap"]
	path = org.liveSense.auth.ldap
	url = https://github.com/liveSense/org.liveSense.auth.ldap.git
[submodule "org.liveSense.core"]
	path = org.liveSense.core
	url = https://github.com/liveSense/org.liveSense.core.git
[submodule "org.liveSense.fragment.sun.misc"]
	path = org.liveSense.fragment.sun.misc
	url = https://github.com/liveSense/org.liveSense.fragment.sun.misc.git
[submodule "org.liveSense.misc.configurationLoader"]
	path = org.liveSense.misc.configurationLoader
	url = https://github.com/liveSense/org.liveSense.misc.configurationLoader.git
[submodule "org.liveSense.misc.queryBuilder"]
	path = org.liveSense.misc.queryBuilder
	url = https://github.com/liveSense/org.liveSense.misc.queryBuilder.git
[submodule "org.liveSense.misc.i18n"]
	path = org.liveSense.misc.i18n
	url = https://github.com/liveSense/org.liveSense.misc.i18n.git
[submodule "org.liveSense.misc.jsr303"]
	path = org.liveSense.misc.jsr303
	url = https://github.com/liveSense/org.liveSense.misc.jsr303.git
[submodule "org.liveSense.misc.gwt.jsr303"]
	path = org.liveSense.misc.gwt.jsr303
	url = https://github.com/liveSense/org.liveSense.misc.gwt.jsr303.git
[submodule "org.liveSense.scripting.jsp.taglib.json"]
	path = org.liveSense.scripting.jsp.taglib.json
	url = https://github.com/liveSense/org.liveSense.scripting.jsp.taglib.json.git
[submodule "org.liveSense.scripting.jsp.taglib.jstl"]
	path = org.liveSense.scripting.jsp.taglib.jstl
	url = https://github.com/liveSense/org.liveSense.scripting.jsp.taglib.jstl.git
[submodule "org.liveSense.service.dataSourceProvider"]
	path = org.liveSense.service.dataSourceProvider
	url = https://github.com/liveSense/org.liveSense.service.dataSourceProvider.git
[submodule "org.liveSense.framework.gxt"]
	path = org.liveSense.framework.gxt
	url = https://github.com/liveSense/org.liveSense.framework.gxt.git
[submodule "org.liveSense.service.securityManager"]
	path = org.liveSense.service.securityManager
	url = https://github.com/liveSense/org.liveSense.service.securityManager.git
[submodule "org.liveSense.service.activation"]
	path = org.liveSense.service.activation
	url = https://github.com/liveSense/org.liveSense.service.activation.git
[submodule "org.liveSense.service.captcha"]
	path = org.liveSense.service.captcha
	url = https://github.com/liveSense/org.liveSense.service.captcha.git
[submodule "org.liveSense.service.email"]
	path = org.liveSense.service.email
	url = https://github.com/liveSense/org.liveSense.service.email.git
[submodule "org.liveSense.service.languageSelector"]
	path = org.liveSense.service.languageSelector
	url = https://github.com/liveSense/org.liveSense.service.languageSelector.git
[submodule "org.liveSense.service.thumbnailGenerator"]
	path = org.liveSense.service.thumbnailGenerator
	url = https://github.com/liveSense/org.liveSense.service.thumbnailGenerator.git
[submodule "org.liveSense.service.xssRemove"]
	path = org.liveSense.service.xssRemove
	url = https://github.com/liveSense/org.liveSense.service.xssRemove.git
[submodule "org.liveSense.sample.configurationLoad"]
	path = org.liveSense.sample.configurationLoad
	url = https://github.com/liveSense/org.liveSense.sample.configurationLoad.git
[submodule "org.liveSense.sample.gwt.notes"]
	path = org.liveSense.sample.gwt.notes
	url = https://github.com/liveSense/org.liveSense.sample.gwt.notes.git
[submodule "org.liveSense.sample.simplePortal"]
	path = org.liveSense.sample.simplePortal
	url = https://github.com/liveSense/org.liveSense.sample.simplePortal.git
[submodule "org.liveSense.content.initial"]
	path = org.liveSense.content.initial
	url = https://github.com/liveSense/org.liveSense.content.initial.git
[submodule "org.liveSense.webconsole.branding"]
	path = org.liveSense.webconsole.branding
	url = https://github.com/liveSense/org.liveSense.webconsole.branding.git
[submodule "org.liveSense.launchpad"]
	path = org.liveSense.launchpad
	url = https://github.com/liveSense/org.liveSense.launchpad.git
[submodule "org.liveSense.misc.jcrom"]
	path = org.liveSense.misc.jcrom
	url = https://github.com/liveSense/org.liveSense.misc.jcrom.git
[submodule "org.liveSense.framework.cxf"]
	path = org.liveSense.framework.cxf
	url = https://github.com/liveSense/org.liveSense.framework.cxf.git
[submodule "org.liveSense.service.report.jasper"]
	path = org.liveSense.service.report.jasper
	url = https://github.com/liveSense/org.liveSense.service.report.jasper.git
[submodule "org.liveSense.reactor"]
	path = org.liveSense.reactor
	url = https://github.com/liveSense/org.liveSense.reactor.git
[submodule "org.liveSense.fragment.com.sun.image.codec.jpeg"]
	path = org.liveSense.fragment.com.sun.image.codec.jpeg
	url = https://github.com/liveSense/org.liveSense.fragment.com.sun.image.codec.jpeg.git
[submodule "org.liveSense.fragment.javax.xml-jre-1.6"]
	path = org.liveSense.fragment.javax.xml-jre-1.6
	url = https://github.com/liveSense/org.liveSense.fragment.javax.xml-jre-1.6.git
[submodule "org.liveSense.framework.gwt"]
	path = org.liveSense.framework.gwt
	url = https://github.com/liveSense/org.liveSense.framework.gwt.git
[submodule "org.liveSense.dist"]
	path = org.liveSense.dist
	url = https://github.com/liveSense/org.liveSense.dist.git
[submodule "org.liveSense.misc.javax.persistence"]
	path = org.liveSense.misc.javax.persistence
	url = https://github.com/liveSense/org.liveSense.misc.javax.persistence.git
[submodule "org.liveSense.service.jcr.importexport"]
	path = org.liveSense.service.jcr.importexport
	url = https://github.com/liveSense/org.liveSense.service.jcr.importexport.git
[submodule "org.liveSense.misc.queryBuilder.gwt"]
	path = org.liveSense.misc.queryBuilder.gwt
	url = https://github.com/liveSense/org.liveSense.misc.queryBuilder.gwt
[submodule "org.liveSense.service.solr"]
	path = org.liveSense.service.solr
	url = https://github.com/liveSense/org.liveSense.service.solr.git
[submodule "org.liveSense.service.solr.configurationLoader"]
	path = org.liveSense.service.solr.configurationLoader
	url = https://github.com/liveSense/org.liveSense.service.solr.configurationLoader.git
[submodule "org.liveSense.jdbc.jaybird"]
	path = org.liveSense.jdbc.jaybird
	url = https://github.com/liveSense/org.liveSense.jdbc.jaybird.git
[submodule "org.liveSense.jdbc.mysql"]
	path = org.liveSense.jdbc.mysql
	url = https://github.com/liveSense/org.liveSense.jdbc.mysql.git
[submodule "org.liveSense.fragment.sun.security"]
	path = org.liveSense.fragment.sun.security
	url = https://github.com/liveSense/org.liveSense.fragment.sun.security.git
[submodule "org.liveSense.fragment.javax.jws-jre-1.6"]
	path = org.liveSense.fragment.javax.jws-jre-1.6
	url = https://github.com/liveSense/org.liveSense.fragment.javax.jws-jre-1.6.git
[submodule "org.liveSense.fragment.javax.activation-jre-1.6"]
	path = org.liveSense.fragment.javax.activation-jre-1.6
	url = https://github.com/liveSense/org.liveSense.fragment.javax.activation-jre-1.6.git
[submodule "org.liveSense.karaf"]
	path = org.liveSense.karaf
	url = https://github.com/liveSense/org.liveSense.karaf.git
[submodule "org.liveSense.misc.log.config.default"]
	path = org.liveSense.misc.log.config.default
	url = https://github.com/liveSense/org.liveSense.misc.log.config.default.git
[submodule "org.liveSense.misc.log.lilith.core"]
	path = org.liveSense.misc.log.lilith.core
	url = https://github.com/liveSense/org.liveSense.misc.log.lilith.core.git
